# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=mini_ai_toolkit
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/mini_ai_toolkit?schema=public

# Redis (use "redis" for Docker, "localhost" for local development)
REDIS_HOST=redis
REDIS_PORT=6379

# Pollinations API
# Including API key here for AI to work
POLLINATIONS_API_KEY=sk_ONKdyerM0SXBAkUlKuFKHJ9JifjMZVhg

# Server
SERVER_PORT=4000
CLIENT_URL=http://localhost:3000

# Client
NEXT_PUBLIC_API_URL=http://localhost:4000/api
NEXT_PUBLIC_APP_URL=http://localhost:3000
